@model Contact
@{
    Layout = null;
}
@if (string.IsNullOrEmpty(Model.ImagePath))
{
    Model.ImagePath = "images/contacts/unknown.jpg";
}
<div class="box contact-preview" data-contact-id="@Model.Id">
    <form id="contact-form" asp-controller="Dashboard" asp-action="Details" method="post">
        <input type="hidden" asp-for="Id"/>
        
        <partial name="ContactDetails/_ContactImage"/>

        <partial name="ContactDetails/_ContactName"/>

        <partial name="ContactDetails/_ContactTags"/>

        <partial name="ContactDetails/_ContactEmails"/>

        <partial name="ContactDetails/_ContactBirthday"/>

        <partial name="ContactDetails/_ContactAddress"/>

        <partial name="ContactDetails/_ContactWork"/>

        <partial name="ContactDetails/_ContactTelephone"/>

        <partial name="ContactDetails/_ContactRelationships"/>

        <partial name="ContactDetails/_ContactActivity"/>

        <partial name="ContactDetails/_ContactGift"/>

        <partial name="ContactDetails/_ContactReminder"/>

        <partial name="ContactDetails/_ContactTimeline"/>


        <a class="button is-info is-medium" onclick="saveContact()"><i class="fas fa-download"></i>&nbsp;Save</a>
        <a class="button is-danger is-medium" onclick="deleteContact()"><i class="fas fa-trash-alt"></i>&nbsp;Delete</a>
    </form>
</div>