@model Contact
@{
    Layout = null;
}
<div class="box contact-preview" data-contact-id="@Model.Id">
    <form id="contact-form" asp-controller="Dashboard" asp-action="Details" method="post">
        <input type="hidden" asp-for="Id"/>
        <div class="field">
            <label class="label">Profile Image</label>
            <div class="field">
                <figure class="image is-96x96">
                    <img src="@Model.ImagePath" alt="Profile image">
                </figure>
            </div>
            <div class="control">
                <div class="file has-name is-fullwidth">
                    <label class="file-label">
                        <input id="image-input" class="file-input" type="file" name="Image">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Browse…
                            </span>
                        </span>
                        <span id="file-name" class="file-name">
                            Select a file
                        </span>
                    </label>
                </div>
            </div>
        </div>


        <partial name="ContactDetails/_ContactName"/>

        <partial name="ContactDetails/_ContactEmails"/>

        <partial name="ContactDetails/_ContactBirthday"/>

        <partial name="ContactDetails/_ContactAddress"/>

        <partial name="ContactDetails/_ContactWork"/>

        <partial name="ContactDetails/_ContactTelephone"/>

        <partial name="ContactDetails/_ContactRelationships"/>

        <partial name="ContactDetails/_ContactTimeline"/>

        <partial name="ContactDetails/_ContactTags"/>

        <a class="button is-info is-medium" onclick="saveContact()">Save</a>
        <a class="button is-danger is-medium" onclick="deleteContact()">Delete</a>
    </form>
</div>