@using Microsoft.Extensions.Localization
@using PeopleIKnow.Localization
@model Contact
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    Layout = null;
}
<div class="box contact-preview" data-contact-id="@Model.Id">
    <form id="contact-form">
        <input type="hidden" asp-for="Id"/>

        <partial name="ContactDetails/_ContactName"/>

        <partial name="ContactDetails/_ContactTags"/>

        <partial name="ContactDetails/_ContactEmails"/>

        <partial name="ContactDetails/_ContactBirthday"/>

        <partial name="ContactDetails/_ContactAddress"/>

        <partial name="ContactDetails/_ContactWork"/>

        <partial name="ContactDetails/_ContactTelephone"/>

        <partial name="ContactDetails/_ContactRelationships"/>

        <partial name="ContactDetails/_ContactActivity"/>

        <partial name="ContactDetails/_ContactGift"/>

        <partial name="ContactDetails/_ContactReminder"/>

        <partial name="ContactDetails/_ContactTimeline"/>

    </form>
</div>

<a id="save-button" class="button is-info is-large" onclick="Contact.create()"><i class="fas fa-download"></i>&nbsp;@SharedLocalizer["save"]</a>