@model Contact
@{
    Layout = null;
}
<div class="box contact-preview" data-contact-id="@Model.Id">
    <form id="contact-form">
        <input type="hidden" asp-for="Id"/>
        @* NAMES *@
        <div class="field">
            <label class="label">Firstname</label>
            <div class="control">
                <input class="input" asp-for="Firstname" type="text" placeholder="Firstname">
            </div>
        </div>

        <div class="field">
            <label class="label">Middlename</label>
            <div class="control">
                <input class="input" asp-for="Middlename" type="text" placeholder="Middlename">
            </div>
        </div>

        <div class="field">
            <label class="label">Lastname</label>
            <div class="control">
                <input class="input" asp-for="Lastname" type="text" placeholder="Lastname">
            </div>
        </div>
        @* NAMES *@

        @* EMAILS *@
        <div class="panel">
            <p class="panel-heading">
                📧 Emails
            </p>
            <div class="panel-block">
                You have to save the contact before you can add emails
            </div>
        </div>
        @* EMAILS *@

        @* BIRTHDAY *@
        <div class="field">
            <label class="label">Birthday</label>
            <div class="control has-icons-left">
                <input class="input" asp-for="Birthday" type="date">
                <span class="icon is-small is-left">
                    <i class="fa fa-birthday-cake"></i>
                </span>
            </div>
        </div>
        @* BIRTHDAY *@

        @* ADDRESS *@
        <div class="field">
            <label class="label">Address</label>
            <div class="control">
                <textarea class="textarea" asp-for="Address">
            </textarea>
            </div>
        </div>
        @* ADDRESS *@

        @* WORK *@
        <div class="field">
            <label class="label">Employer</label>
            <div class="control has-icons-left">
                <input class="input" asp-for="Employer" placeholder="Employer">
                <span class="icon is-small is-left">
                    <i class="fa fa-building"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Business Title</label>
            <div class="control has-icons-left">
                <input class="input" asp-for="BusinessTitle" placeholder="Business Title">
                <span class="icon is-small is-left">
                    <i class="fa fa-briefcase"></i>
                </span>
            </div>
        </div>
        @* WORK *@

        <div class="panel">
            <p class="panel-heading">
                ☎️ Telephone
            </p>
            <div class="panel-block">
                You have to save the contact before you can add telephone numbers
            </div>
        </div>

        <div class="panel">
            <p class="panel-heading">
                🧑‍🤝‍🧑 Relationships
            </p>
            <div class="panel-block">
                You have to save the contact before you can add relationships
            </div>
        </div>

        <div class="panel">
            <p class="panel-heading">
                🚴 Activities
            </p>
            <div class="panel-block">
                You have to save the contact before you can add activities
            </div>
        </div>

        <div class="panel">
            <p class="panel-heading">
                🎁 Gifts
            </p>
            <div class="panel-block">
                You have to save the contact before you can add gifts
            </div>
        </div>

        <div class="panel">
            <p class="panel-heading">
                ⏰ Reminders
            </p>
            <div class="panel-block">
                You have to save the contact before you can add reminders
            </div>
        </div>

        <div class="panel">
            <p class="panel-heading">
                📝 Status Updates
            </p>
            <div class="panel-block">
                You have to save the contact before you can add status updates
            </div>
        </div>

        <a class="button is-info is-medium" onclick="Contact.create()"><i class="fas fa-download"></i>&nbsp;Save</a>
    </form>
</div>