@model Contact

<div class="panel" id="gift-panel">
    <p class="panel-heading">
        🎁 Gifts
        <a id="add-gift" class="button is-pulled-right is-small is-success" onclick="Entities.add('Gift')">
            <i class="fa fa-plus-circle"></i>
        </a>
    </p>

    @foreach (var giftGroup in Model.Gifts.GroupBy(g => g.GiftType))
    {
        <div class="panel-block">
            <label class="label">@giftGroup.Key</label>
            @foreach (var gift in giftGroup)
            {
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" value="@gift.Description" placeholder="Gift description..." disabled="disabled">
                    </div>
                    <p class="control">
                        <a class="button is-warning" onclick="Entities.edit(@gift.Id, 'Gift')">
                            <i class="fa fa-pencil-alt"></i>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button is-danger" onclick="Entities.delete(@gift.Id, 'Gift')">
                            <i class="fa fa-minus-circle"></i>
                        </a>
                    </p>
                </div>
            }
        </div>
    }
</div>