@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Contact
@inject IViewLocalizer Localizer

<div class="field">
    <label class="label">@Localizer["tags"]</label>
    <div class="control has-icons-left">
        <input class="input" asp-for="Tags" placeholder="e.g. football,boardgames,family">
        <span class="icon is-small is-left">
            <i class="fa fa-tag"></i>
        </span>
    </div>
</div>
