@model Contact

<div class="panel" id="activity-panel">
    <p class="panel-heading">
        🚴 Activities
        <a class="button is-pulled-right is-small is-success" onclick="Entities.add('CommonActivity')">
            <i class="fa fa-plus-circle"></i>
        </a>
    </p>

    @foreach (var activity in Model.ActivityTimeline)
    {
        <div class="panel-block">
            <label class="label">@activity.Date.ToString("dd.MM.yyyy")</label>
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" value="@activity.Description" placeholder="Description" disabled="disabled">
                </div>
                <p class="control">
                    <a class="button is-warning" onclick="Entities.edit(@activity.Id, 'CommonActivity')">
                        <i class="fa fa-pencil-alt"></i>
                    </a>
                </p>
                <p class="control">
                    <a class="button is-danger" onclick="Entities.delete(@activity.Id, 'CommonActivity')">
                        <i class="fa fa-minus-circle"></i>
                    </a>
                </p>
            </div>
        </div>
    }
</div>