@model Contact

<div class="panel" id="email-panel">
    <p class="panel-heading">
        📧 Emails
        <a id="add-email" class="button is-pulled-right is-small is-success" onclick="Entities.add('Email')">
            <i class="fa fa-plus-circle"></i>
        </a>
    </p>

    @foreach (var email in Model.EmailAddresses)
    {
        <div class="panel-block">
            <label class="label">@email.Type</label>
            <div class="field has-addons">
                <p class="control">
                    <a class="button is-info" href="mailto:@email.Email">
                        <i class="fa fa-envelope"></i>
                    </a>
                </p>
                <div class="control is-expanded ">
                    <input class="input" value="@email.Email" type="email" placeholder="email@@domoain.com" disabled="disabled">
                </div>
                <p class="control">
                    <a class="button is-warning" onclick="Entities.edit(@email.Id, 'Email')">
                        <i class="fa fa-pencil-alt"></i>
                    </a>
                </p>
                <p class="control">
                    <a class="button is-danger" onclick="Entities.delete(@email.Id, 'Email')">
                        <i class="fa fa-minus-circle"></i>
                    </a>
                </p>
            </div>
        </div>
    }
</div>
