@model Contact

@* ADDRESS *@
<div class="field">
    <label class="label">Address</label>
    <div class="control">
        <textarea class="textarea" asp-for="Address">
            </textarea>
    </div>
</div>
@* ADDRESS *@