@model Contact

<div class="field">
    <label class="label">Birthday</label>
    <div class="control has-icons-left">
        <input class="input" asp-for="Birthday" type="date" min="1900-01-01">
        <span class="icon is-small is-left">
            <i class="fa fa-birthday-cake"></i>
        </span>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="checkbox">
            <input type="checkbox" asp-for="SendBirthdayNotification">
            Enable birthday notification
        </label>
    </div>
</div>
