@model Contact

@* WORK *@
<div class="field">
    <label class="label">Employer</label>
    <div class="control has-icons-left">
        <input class="input" asp-for="Employer" placeholder="Employer">
        <span class="icon is-small is-left">
            <i class="fa fa-building"></i>
        </span>
    </div>
</div>
<div class="field">
    <label class="label">Business Title</label>
    <div class="control has-icons-left">
        <input class="input" asp-for="BusinessTitle" placeholder="Business Title">
        <span class="icon is-small is-left">
            <i class="fa fa-briefcase"></i>
        </span>
    </div>
</div>
@* WORK *@