<aside class="menu ">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a class="is-active">Dashboard</a></li>
        <li><a>Lorem ipsum</a></li>
    </ul>
    <p class="menu-label">
        People
    </p>
    <ul class="menu-list">
        <li><a>Create New Contact</a></li>
        <li><a>Search Contact</a></li>
        <li><a>Lorem ipsum</a></li>
    </ul>
    <p class="menu-label">
        Segments
    </p>
    <ul class="menu-list">
        <li><a>School</a></li>
        <li><a>University</a></li>
        <li><a>Nerds</a></li>
        <li><a>Test</a></li>
    </ul>
</aside>

