html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#pik-app {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.entry {
    margin-bottom: 0.5rem !important;
}

.segments {
    background-color: #0E082B;
    color: lightgray;
    padding: 40px;
}

.feed {
    background-color: #2B677E;
    overflow-y: scroll;
}

.feed > .card {
    margin-top: 10px;
    margin-right: 10px;
}

.pane {
    background-color: #91D2EC;
    overflow-y: scroll;
}

.pane > .box {
    margin: 10px 10px 0 0;
}

.highlight-color {
    color: #0139D3;
}

.contact-preview > form > .panel > .panel-block {
    display: block !important;
}

#add-button {
    bottom: 10px;
    right: 10px;
    position: fixed;
}

input[disabled] {
    color: #333 !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
