@model PeopleIKnow.Models.Reminder
@{
    Layout = null;
}
<div class="box">
    <form id="reminder-form">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="ContactId"/>

        <div class="field">
            <label class="label">Date</label>
            <div class="control">
                <input class="input" asp-for="Date" type="date">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" asp-for="RemindMeEveryYear">
                    Remind me every year
                </label>
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <input class="input" asp-for="Description" type="text" placeholder="Write the reminder here...">
            </div>
        </div>

        <a onclick="updateReminder()" class="button is-info is-medium"><i class="fas fa-download"></i>&nbsp;Save</a>
        <a onclick="backToDetails(@Model.ContactId)" class="button is-danger is-medium"><i class="fas fa-times-circle"></i>&nbsp;Cancel</a>
    </form>
</div>