@model Contact

@* NAMES *@
<div class="field">
    <label class="label">Firstname</label>
    <div class="control">
        <input class="input" asp-for="Firstname" type="text" placeholder="Firstname">
    </div>
</div>

<div class="field">
    <label class="label">Middlename</label>
    <div class="control">
        <input class="input" asp-for="Middlename" type="text" placeholder="Middlename">
    </div>
</div>

<div class="field">
    <label class="label">Lastname</label>
    <div class="control">
        <input class="input" asp-for="Lastname" type="text" placeholder="Lastname">
    </div>
</div>
@* NAMES *@