<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>People I Know</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bulma/bulma.min.css"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bulma/bulma.min.css"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
</head>
<body>

<partial name="_NavbarPartial"/>

<div id="pik-app" class="columns">
    @RenderBody()
</div>

<div class="modal" id="loading-indicator">
    <div class="modal-background"></div>
    <div class="loader"></div>
</div>

<environment include="Development">
    <script defer src="~/lib/fontawesome/font-awesome.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script defer src="~/lib/fontawesome/font-awesome.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>