@if (User.Identity?.IsAuthenticated == true)
{
    <li class="navbar-item">
        <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
            <button id="logout" type="submit" class="button"><i class="fa fa-sign-out-alt"></i>&nbsp;Logout</button>
        </form>
    </li>
}
else
{
    <li class="navbar-item">
        <a class="button" id="login" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Url.Action("Index", "Dashboard")"><i class="fa fa-sign-in-alt"></i>&nbsp;Login</a>
    </li>
}
