@model PeopleIKnow.Models.CommonActivity
@{
    Layout = null;
}
<div class="box">
    <form id="common-activity-form">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="ContactId"/>

        <div class="field">
            <label class="label">Date</label>
            <div class="control">
                <input class="input" asp-for="Date" type="date">
            </div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" asp-for="Description" placeholder="Describe the activity here...">
                </textarea>
            </div>
        </div>

        @if (Model.Id == 0)
        {
            <a onclick="Entities.save('CommonActivity', 'common-activity-form')" class="button is-info is-medium"><i class="fas fa-plus-circle"></i>&nbsp;Add</a>
        }
        else
        {
            <a onclick="Entities.update('CommonActivity', 'common-activity-form')" class="button is-info is-medium"><i class="fas fa-download"></i>&nbsp;Save</a>
        }
        <a onclick="backToDetails(@Model.ContactId)" class="button is-danger is-medium"><i class="fas fa-times-circle"></i>&nbsp;Cancel</a>
    </form>
</div>