@page
@model AccessDeniedModel
@{
    ViewBag.Title = "Access Denied";
    Layout = "_IdentityLayout";
}

<div class="column is-5-tablet is-4-desktop is-3-widescreen">
    <div class="box">
        <p class="has-text-danger">You do not have access to this resource.</p>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Dashboard", new { area = "" })">
            <button id="logout" type="submit" class="button"><i class="fa fa-sign-out-alt"></i>&nbsp;Logout</button>
        </form>
    </div>
</div>
