@page
@model LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "_IdentityLayout";
}

<div class="column is-5-tablet is-4-desktop is-3-widescreen">
    <form id="account" aria-labelledby="legend" class="box" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="field">
            <label class="label" asp-for="Input.Email"></label>
            <div class="control has-icons-left">
                <span class="icon is-small is-left">
                    <i class="far fa-user-circle"></i>
                </span>
                <input asp-for="Input.Email" class="input" placeholder="john.smith@yourmail.com"/>
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="field">
            <label class="label" asp-for="Input.Password"></label>
            <div class="control has-icons-left">
                <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                </span>
                <input asp-for="Input.Password" class="input" placeholder="Password"/>
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="field">
            <div class="checkbox">
                <label asp-for="Input.RememberMe" class="checkbox">
                    <input asp-for="Input.RememberMe"/>
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="field">
            <button type="submit" class="button is-info">Log in</button>
        </div>
        <div class="field">
            <a asp-area="Identity" asp-page="/Account/Register">Register here</a>
        </div>
    </form>
</div>