@page
@model LogoutModel
@{
    ViewBag.Title = "Log out";
    Layout = "_IdentityLayout";
}
<div class="column is-5-tablet is-4-desktop is-3-widescreen">
    <div class="box">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="button is-primary"><i class="fa fa-sign-out-alt"></i>&nbsp;Logout</button>
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </div>
</div>
